main {
  padding-top: 5.00em;
}

.card a, .meta a {
  color: inherit;
  text-decoration: none;
}

.list-group li {
  border: none;
}

.fancy {
  font-family: "Righteous";
}

.lead {
  font-size: 2.00em;
}

.text-tiffany {
  color: #0abab5;
}